*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #10133A;
}

body{
    color: white;
    font-size: 10px;
}
.root{
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    grid-template-rows: 150px ;

}
header{
    padding-top: 70px;
    text-align: center;
}
button{
    color: white;
}
h2{
    text-align: center;
    padding-bottom: 10px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
input{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}
#submitRegister{
    margin-top: 20px;
}

#register{
    color: white;
}
