* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white-color);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
}
:root {
  --white-color: white;
  --bluedark-color: #10133a;
  --bluelight-color: #1289e4;
  --blueultralight-color: #39a5f7;
  --pink-color: #ef0195;
}
body{
    background-image: url(./img/backgronud2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0 auto;
}
.root {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  grid-template-rows: 150px;
}
h2 {
  font-family: monospace;
  font-size: 1.8rem;
  padding-bottom: 30px;
}
h4 {
  font-family: monospace;
  font-size: 1.3rem;
}
h5 {
  font-family: monospace;
  font-size: 1.4rem;
}
/**********Imagen de inicio********/
.mainLogo {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.imgLogo {
  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.imgLogo:hover {
  transform: scale(1.3);
}
/*************HEADER*************/
header {
  text-align: center;
}
/******************LOGIN*************/
.mainLogin {
  border: solid 1px var(--white-color);
  box-shadow: 0 0 5px var(--pink-color), 0 0 15px var(--pink-color),
    0 0 25px var(--pink-color);
  display: grid;
  grid-template-columns: auto;
  margin: 0px 480px;
  padding: 40px 0;
}
.formLogin {
  display: grid;
  width: 70%;
  margin: 0 auto;
  line-height: 50px;
}
input {
  color: black;
  background-color: aliceblue;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 3px 0;
}
button {
  background: var(--bluelight-color);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 8px;
}
button:hover {
  background: var(--blueultralight-color);
}
.formLogin .resetPass {
  cursor: pointer;
}
.formLogin .resetPass:hover {
  color: var(--pink-color);
}

/*******POP UP*******/
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  visibility: hidden;
}
.overlay.active {
  visibility: visible;
}
.popup {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  background: var(--bluedark-color);
  box-shadow: 0 0 5px var(--white-color), 0 0 15px var(--white-color),
    0 0 25px var(--white-color);
  border-radius: 5px;
  padding: 20px 35px;
  width: auto;
  height: auto;
  line-height: normal;
  transition: 0.3s ease all;
  transform: scale(0.7);
  opacity: 0;
}
.popup.active {
  opacity: 1;
  transform: scale(1); /*animacion*/
}
.popup .fa-xmark {
  grid-column: 3/4;
  justify-self: end;
  color: var(--white-color);
}
.popup .fa-solid:hover {
  color: var(--bluedark-color);
  cursor: pointer;
}
.popup h3 {
  grid-column: 1/4;
  font-size: 1.4rem;
}
.popup p {
  grid-column: 1/4;
  margin: 10px 0;
}
.popup form {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.popup form input {
  grid-column: 1/4;
  height: 40px;
}
.popup form .btnReset {
  grid-column: 2/3;
  height: 40px;
} /*FIN POPUP*/

.formLogin .btnGoogle {
  margin-bottom: 25px;
}
a {
  grid-column: 1/3;
  text-decoration: none;
  color: var(--pink-color);
}
a:hover {
  color: var(--blueultralight-color);
}
/*****************REGISTER*************/
.mainRegister {
  border: solid 1px var(--white-color);
  box-shadow: 0 0 5px var(--bluelight-color), 0 0 15px var(--bluelight-color),
    0 0 25px var(--bluelight-color);
  display: grid;
  grid-template-columns: auto;
  margin: 0px 480px;
  padding: 40px 0;
}
.formRegister {
  display: grid;
  grid-template-columns: 30% 40%;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  line-height: 50px;
}
.formRegister input {
  grid-column: 1/3;
}
.formRegister label {
  grid-column: 1/2;
  text-align: left;
}
.formRegister .inputDate {
  grid-column: 2/3;
  padding: 0 10px;
}
.formRegister .submitRegister {
  color: var(--white-color);
  background: var(--bluelight-color);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 8px;
}
.formRegister .submitRegister:hover {
  background: var(--blueultralight-color);
}
.formRegister .btnBack {
  grid-column: 1/3;
  color: var(--blueultralight-color);
  border: none;
  background: none;
}
.formRegister .btnBack:hover {
  color: var(--pink-color);
}
/*************DASHBOARD*************/
.mainDash{
    display: grid;
    width: 80%;
    height: 80%;
    margin: auto;
    row-gap: 25px;
}
.mainDash_profile {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: auto;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid var(--white-color);
  box-shadow: 0 0 5px var(--bluelight-color), 0 0 15px var(--bluelight-color),
    0 0 25px var(--bluelight-color);
  border-radius: 30px 30px 0 0;
}
.mainDash_profile h4 {
  font-weight: normal;
  grid-column: 1/2;
  justify-self: start;
  text-align: left;
}
.mainDash_profile .h4bold {
  font-family: monospace;
  font-weight: bold;
  color: var(--blueultralight-color);
  font-size: 1.4rem;
}
.mainDash_profile .btnLogOut {
  grid-column: 2/3;
  justify-self: end;
  margin: 0;
  font-size: 0.9rem;
}
.mainDash_board {
  display: grid;
  grid-template-columns: auto auto 55%;
  grid-template-rows: auto;
  column-gap: 25px;
}
.mainDash_board_createPost {
  grid-column: 1/3;
  display: grid;
  grid-template-rows: 10% 90%;
  padding: 20px;
  height: 400px;
  border: 1px solid var(--white-color);
  box-shadow: 0 0 5px var(--pink-color), 0 0 15px var(--pink-color), 0 0 25px var(--pink-color);
}
.mainDash_board_createPost_title {
  grid-row: 1/2;
  margin: 1px 0;
}
.mainDash_board_createPost_form {
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 85% 15%;
}
.mainDash_board_createPost_textarea {
  grid-row: 1/2;
  resize: none;
  color: black;
  text-align: left;
  padding: 10px;
}
.mainDash_board_createPost_submit{
  grid-row: 2/3;
  align-self: end;
  justify-self: center;
  background: var(--pink-color);
  margin: 0;
  padding: 10px 30px;
  box-shadow: 0 0 5px var(--white-color), 0 0 20px var(--white-color);
}
.mainDash_board_publications{
  grid-column: 3/4;
  box-shadow: 0 0 5px var(--pink-color), 0 0 15px var(--pink-color), 0 0 25px var(--pink-color);
  border: 1px solid var(--white-color);
  height: 400px;
  display: grid;
  grid-template-rows: 12% 88%;
}
.mainDash_board_publications_topbar{
  grid-row: 1/2;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 80% 20%;
}
.mainDash_board_publications_topbar_title{
  grid-column: 1/2;
  justify-self: start;
  align-self: center;
}
.mainDash_board_publications_topbar_refresh{
  grid-column: 2/3;
  justify-self: end;
  align-self: center;
  padding: 5px;
  margin: 0;
  border-radius: 100px;
  width: 28px;
  height: 28px;
  background: var(--pink-color);
  box-shadow: 0 0 5px var(--white-color), 0 0 20px var(--white-color);
}
.mainDash_board_publications_scroll{
  grid-row: 2/3;
  overflow-y: scroll;
}
.mainDash_board_publications_content{
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 30px auto 30px;
}
.mainDash_board_publications_content_user{
  text-align: left;
  grid-column: 1/3;
  grid-row: 1/2;
  background: var(--pink-color);
  padding: 3px 10px 0 10px;
}
.mainDash_board_publications_content_text{
  text-align: left;
  grid-column: 1/3;
  grid-row: 2/3;
  padding: 3px 10px;
}
.mainDash_board_publications_content_starR{
  background:none;
  grid-column: 1/2;
  justify-self: start;
  align-self: center;
  margin: 0 ;
  padding: 0 10px;
}
.mainDash_board_publications_content_starR:hover {
  background: none;
}
.mainDash_board_publications_content .starS {
  color: var(--yellow-color);
}
.mainDash_board_publications_content_likes{
  grid-column: 2/3;
  justify-self: start;
  align-self: center;
}
/***btn crear post***/
.mainDash_board_createPost_btn{
  background: var(--white-color);
  color: var(--purple-color);
  border: 3px solid var(--purple-color);
  width: 90px;
  height: 90px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 4.5rem;
  font-weight: bold;
  justify-self: center;
  padding: 0;
}
.mainDash_board_createPost_btn:hover{
  background: var(--purple-color);
  color: var(--white-color);
}

/*************FOOTER*************/
footer {
  margin: 50px 0;
}
.textFooter a {
  text-decoration: none;
  color: var(--blueultralight-color);
}
.textFooter a:hover {
  color: var(--pink-color);
}
/************RESPONSIVE***********/
@media only screen and (max-width: 1330px) {
  .mainLogin {
    margin: 0px 200px;
  }
  .mainRegister {
    margin: 0px 200px;
  }
}
@media only screen and (max-width: 750px) {
    .mainLogin {
        margin: 0px 100px;
    }
    .mainRegister{
      margin: 0px 100px;
    }
    .mainDash_board {
      grid-template-columns: 100% ;
      grid-template-rows: auto auto;
      column-gap: 0px;
      row-gap: 25px;
    }
    .mainDash_board_createPost {
      grid-column: 1;
      grid-row: 1/2;
      height: 250px;
      grid-template-rows: 15% 85%;
    }
    .mainDash_board_createPost_form {
      grid-template-rows: 70% 30%;
    }
    .mainDash_board_publications {
      grid-column: 1;
      grid-row: 2/3;
    }
    footer{
      margin: 40px 20px;
    }
}
@media only screen and (max-width: 550px) {
  .mainLogin {
    margin: 0px 10px;
    padding-bottom: 10px;
  }
  .mainRegister {
    margin: 0px 10px;
    padding-bottom: 10px;
  }
  .formLogin {
    width: 90%;
  }
  .formRegister {
    width: 90%;
    grid-template-columns: 40% 60%;
  }
  .popup {
    font-size: 1rem;
    margin: 0 10px;
    padding: 10px 10px;
  }
  .popup form .btnReset {
    grid-column: 1/4;
    margin-bottom: 10px;
  }
  .btnGoogle {
    margin: 0;
  }
  .mainDash{
    width: 95%;
    height: 80%;
  }
  .mainDash_profile{
    grid-template-columns: 70% 30%;
  }
  .mainDash_profile .btnLogOut {
    font-size: 0px;
  }
}