*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
}
:root { 
    --white-color: white;
    --bluedark-color: #10133a;
    --bluelight-color: #1289e4;
    --blueultralight-color: #39a5f7;
    --yellow-color: #fcdf87;
    --pink-color: #ef0195;
    --orange-color: #f68741;
    --purple-color: #5a1d8b;
}
body{
    background-image: url(./img/fondo-de-pantalla.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.root{
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    grid-template-rows: 150px ;
}
/**********Imagen de inicio********/
.mainLogo{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.imgLogo{
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.imgLogo:hover{
    transform: scale(1.3);
}
/*************HEADER*************/
header{
    padding-top: 50px;
    text-align: center;
    margin: 20px;   
}
/******************LOGIN*************/
.mainLogin{
    border: solid 1px var(--white-color);
    box-shadow: 0 0 5px var(--pink-color), 0 0 15px var(--pink-color), 0 0 25px var(--pink-color);
    display: grid;
    grid-template-columns: auto;
    margin: 50px 480px;
    padding: 40px 0;
}
h2{
    font-family: monospace;
    font-size: 1.8rem;
    padding-bottom: 30px;
    text-shadow: 0 0 5px var(--bluelight-color), 0 0 15px var(--bluelight-color), 0 0 25px var(--bluelight-color);
}
.formLogin{
    display: grid;
    width: 70%;
    margin: 0 auto;
    line-height: 50px;
}
input{
    color: black;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 3px 0;
}
button{
    background: var(--bluelight-color);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 8px;
}
button:hover{
    background: var(--blueultralight-color);
}
.formLogin .resetPass{
    cursor: pointer;
}
.formLogin .resetPass:hover{
    color: var(--pink-color);
}

/*******POP UP*******/
.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    visibility: hidden;
}
.overlay.active {
    visibility: visible;
}
.popup {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    background: var(--purple-color);
    box-shadow: 0 0 5px var(--yellow-color), 0 0 15px var(--yellow-color), 0 0 25px var(--yellow-color);
    border-radius: 5px;
    padding: 20px 35px;
    width: auto;
    height: auto;
    line-height: normal;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}
.popup.active {opacity: 1; transform: scale(1); /*animacion*/
}
.popup .fa-xmark{
    grid-column: 3/4;
    justify-self: end;
    color: var(--white-color);
}
.popup .fa-solid:hover{
    color: var(--bluedark-color);
}
.popup h3{
    grid-column: 1/4;
    font-size: 1.4rem;
}
.popup p{
    grid-column: 1/4;
    margin: 10px 0;
}
.popup form{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.popup form input{
    grid-column: 1/4;
    height: 40px;
}
.popup form button{
    grid-column: 2/3;
    height: 40px;
}     /*FIN POPUP*/

.formLogin .btnGoogle{
    margin-bottom: 25px;
}
a{
    grid-column: 1/3;
    text-decoration: none;
    color: var(--orange-color);
}
a:hover{
    color: var(--pink-color);
}
/*****************REGISTER*************/
.mainRegister{
    border: solid 1px var(--white-color);
    box-shadow: 0 0 5px var(--orange-color), 0 0 15px var(--orange-color), 0 0 25px var(--orange-color);
    display: grid;
    grid-template-columns: auto;
    margin: 50px 480px;
    padding: 40px 0;
}
.formRegister{
    display: grid;
    grid-template-columns: 30% 40%;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    line-height: 50px;
}
.formRegister input{
    grid-column: 1/3;
}
.formRegister label{
    grid-column: 1/2;
    text-align: left;
}
.formRegister .inputDate{
    grid-column: 2/3;
    padding: 0 10px;
}
.formRegister .submitRegister{
    color: var(--white-color);
    background: var(--bluelight-color);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 8px;
}
.formRegister .submitRegister:hover{
    background: var(--blueultralight-color);
}
.formRegister a{
    grid-column: 1/3;
}
/*************FOOTER*************/
footer{
    margin: 50px 0;
}
.textFooter a{
    text-decoration: none;
    color: var(--yellow-color);
}
.textFooter a:hover{
    color: var(--orange-color);
}
/************RESPONSIVE***********/
@media only screen and (max-width: 1330px) {
    .mainLogin {
        margin: 40px 200px;
    }
    .mainRegister{
        margin: 40px 200px;
    }
  }
@media only screen and (max-width: 750px) {
    body {
      background: linear-gradient(to bottom, var(--bluedark-color), #5a1d8b);
    }
    .mainLogin {
        margin: 20px 100px;
    }
    .mainRegister{
        margin: 20px 100px;
    }
    footer{
        margin: 40px 20px;
    }
}
@media only screen and (max-width: 550px) {
    .mainLogin {
        margin: 10px 10px;
        padding-bottom: 10px;
    }
    .mainRegister{
        margin: 10px 10px;
        padding-bottom: 10px;
    }
    .formLogin{
        width: 90%;
    }
    .formRegister{
        width: 90%;
        grid-template-columns: 40% 60%;
    }
    .popup{
        font-size: 1rem;
        margin: 0 10px;
        padding: 10px 10px;
    }
    .popup button{
        grid-column: 1/4;
    }
    .btnGoogle{
        margin: 0;
    }
}